.non-workbreak {
	word-break: unset;
}
.line-height-6 {
	line-height: 24px;
}
.text-decoration {
	text-decoration: underline;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.cursor-pointer {
	cursor: pointer;
}
.position-relative {
	position: relative;
}
.text-returned {
	height: 16px;
	border-radius: 10px;
	border: 1px solid var(--color-error1);
	line-height: 1;
	padding-left: 6px;
	padding-right:6px;
}
.three--dot {
	display: block;
	width: 95%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//vuetify
.v-container.fill-height {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.v-tooltip__triangle {
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
	border-left: 6px solid;
	border-right: 6px solid;
	border-top: 12px solid;
}
.v-input--checkbox .v-input--selection-controls__input .v-icon,
.v-radio .v-input--selection-controls__input .v-icon {
	height: $input-icon-height;
}
.v-radio .v-label {
	color: currentColor !important;
}
//
.v-chip-tabs {
	overflow-y: hidden;
	& .v-chip:not(.v-chip--active) {
		color: get-color(accent1);
		border-color: get-color(accent1);
	}
	& .v-chip--active {
		background-color: get-color(secondary1) !important;
	}
	& .v-chip--active.v-chip.v-chip--outlined.v-chip.v-chip {
		background-color: get-color(secondary1) !important;
		color: white;
	}
}
//@
.v-treeview-node__checkbox {
	height: $treeview-node-level-width;
}
.v-treeview-node__toggle {
	height: $treeview-node-level-width;
}
.v-text-field--outlined fieldset {
	border-color: get-color(primary2) !important;
}
.v-text-field--outlined.v-input--is-focused fieldset,
.v-text-field--outlined.v-input--has-state fieldset {
	border-color: get-color(secondary1) !important;
}
.v-select .v-icon--svg {
	fill: get-color(primary) !important;
}

//
.v-header-tabs .v-tabs-bar {
	height: 50px;
	& .v-tab {
		font-size: 18px !important;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0 2px;
		margin-right: 26px;
		min-width: 30px !important;
		&:last-child {
			margin-right: 13px;
		}
	}
}
.v-text-field .v-messages .v-messages__message {
	text-align: right;
}
// .v-textarea {
// 	@extend %small-scrollbar;
// }
.v-application--is-ltr .v-textarea.v-text-field--enclosed .v-text-field__slot {
	margin-right: -6px;
}

.v-data-table th {
	font-size: 1rem !important;
}
//custom button action in datatable add class "btn-border__radius"
.v-btn.btn-border__radius {
	border-radius: 5px !important;
}
//icon next and previous in paging
.pagination .pagination__list ul li .v-icon {
	width: 24px !important;
}

//
.v-text-field__details {
	padding: 0 !important;
}
.v-text-field__details .v-counter {
	word-spacing: -3px;
	font-style: italic !important;
}
.v-input--checkbox .v-input__slot {
	align-items: flex-start;
}
.btn-group-toggle {
	.theme--light.v-btn-toggle{
		.btn-active-toggle.v-btn.v-btn {
			background-color: #ffffff !important;
			border: 1px solid var(--color-primary) !important;
			&::before{
				background-color: #ffffff !important;
			}
		}
	}
}
@keyframes syncRotate {
	0% {
		transform: rotate(45deg);
	}
	50% {
		transform: rotate(135deg);
	}
	100% {
		transform: rotate(225deg);
}
}
.sync:hover {
	animation: syncRotate 0.5s linear 0.1s infinite normal;
	background-color: var(--color-primary3) !important;
}