/* ./src/index.css */
.mgi__form-layout{
    @apply  absolute top-0 left-0 right-0 bottom-0 bg-[#6a88a1]
}
.mgi__form{
    @apply absolute top-[21%] left-1/2 translate-x-[-50%] h-auto w-[320px] bg-[#ffffff] rounded-lg
}
.mgi__form__block{
    @apply  px-[30px] py-[45px]
}
.mgi__form__logo{
    @apply flex flex-col items-center mb-[30px]
}
.mgi__form__logo img{
    @apply w-[137px] h-[26px]
}
.mgi__form__desc{
    @apply flex flex-col items-center mb-10
}
.mgi__form__desc p{
    @apply text-[14px] h-[5px] font-bold text-[#293B49]
}
.mgi__form__email,
.mgi__form__username{
    @apply flex flex-col
}
.mgi__form__email .mgi__form__email-title,
.mgi__form__password .mgi__form__password-title,
.mgi__form__username .mgi__form__username-title{
    @apply font-semibold text-[12px] mb-2 text-[#293B49]
}

.mgi__form__email input,
.mgi__form__password input,
.mgi__form__username input{
    @apply h-[30px] text-[13px] px-2 mb-[5px]
}
.mgi__form__password{
    @apply flex flex-col mb-2 relative
}
.mgi__form__password .mgi__form__eye2icon,
.mgi__form__password .mgi__form__eye1icon{
    @apply h-[15px] absolute top-[34px] right-2 cursor-pointer
}

.mgi__form__require{
    @apply flex items-center justify-between
}
.mgi__form__checkbox{
    @apply flex items-center cursor-pointer
}
.mgi__login-from__checkbox-block{
    @apply h-4 w-4 mr-2 rounded-[3px]
}
.mgi__form__checkbox span{
    @apply text-[12px] font-thin select-none font-[sans-serif];
}
.mgi__form__forgot-link{
    @apply flex items-center
}
.mgi__form__forgot-link a{
    @apply text-[#1bb690] text-[12px] font-bold underline text-center font-[Roboto]
}
.mgi__form__submit{
    @apply mt-[15px]
}
.mgi__form__submit button{
    @apply text-[14px] font-medium w-full h-[38px] bg-[#208dec] text-[#FFFFFF] hover:bg-[#337ab8]
}
input{
    @apply border-[#ccc] border-solid border-[1px] !important
}
#password:focus,
#username:focus {
    @apply border-[black] border-solid border-[1px] outline-none !important
}

#remember{
    @apply hidden
}
.mgi__login-from__checkbox-block{
    @apply relative border-[#ccc] border-solid border-[1px]
}
.mgi__login-from__checkbox-block::after{
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#remember:checked ~ .mgi__login-from__checkbox-block{
     @apply bg-[#2196F3];
}
.mgi__form__email .mgi__form__email-validate,
.mgi__form__password .mgi__form__password-validate,
.mgi__form__username .mgi__form__username-validate{
    @apply text-[red] font-normal text-xs mb-3
}
.mgi__form-error{
    @apply  h-[35px] bg-[#cb4a4e] w-full absolute bottom-0 ;
}
.mgi__form-error__block{
    @apply  flex items-center text-white h-full px-2 text-xs;
}
.mgi__form-error__block span{
    @apply ml-2 mt-[2px];
}
.mgi__form__back-link{
    @apply w-full text-center mt-2
}
.mgi__form__back-link a{
    @apply text-[#1bb690] text-[13px] font-bold underline
}