// Place SASS variable overrides here
// $font-size-root: 18px;
// @import "~vuetify/src/styles/styles.sass";
@import 'vuetify/styles';

// // Globals
$custom-colors: (
	"primary": #013253,
	"primary1": #98acb9,
	"primary2": #cbd5dc,
	"primary3": #e4e9ec,
	"primary4": #ffffff,
	"secondary": #3076a5,
	"secondary1": #0091a8,
	"secondary2": #65bcca,
	"secondary3": #116adf,
	"secondary4": #4472C4,
	"secondary5": #8567C2,
	"accent": #5f6368,
	"accent1": #8f8f8f,
	"accent2": #e0e0e0,
	"error": #fa2b2b,
	"error1": #fc642d,
	"error2": #ffc000,
	"error3": #ff0000,
	"error4": #A80801,
	"error5": #FAE5E4,
	"warning": #f99f3d,
	"warning1": #fedfd4,
	"warning2": #FFDEBA,
	"active-star": #f9c825,
	"star": #cec7ab,
	"info": #116adf,
	"success": #00b95d,
	"success1": #a9d18e,
	"success2": #00b050,
	"red-dark": #7e0505,
	'blue-light': #A4D4B4,
	"dark": #000,
	"primary-dark":#1d3343,
	"error-light": #FF7DB4,
);
@function get-color($name) {
	@return map-get($custom-colors, $name);
}
$body-font-family: "Roboto", serif;
$border-radius-root: 2px;
$font-size-root: 14px;
$line-height-root: calc(24 / 14);
$input-font-size: 1rem;

//Icons
$icon-size: 18px;
$icon-size-dense: 12px;
$icon-sizes: (
	"default": (
		"font-size": 14,
		"height": 30,
	),
);
$input-icon-height: 24px;
$input-font-size: 14px;

//Buttons
$btn-text-transform: initial;
$btn-sizes: (
	"x-small": 26,
	"small": 30,
	"default": 40,
	"large": 50,
	"x-large": 55,
);
$btn-font-sizes: (
	"x-small": 0.75rem,
	"small": 0.857142857rem,
	"default": 1rem,
	"large": 1rem,
	"x-large": 1rem,
);
$btn-font-weight: 400;
$btn-letter-spacing: normal;

//pagging
$pagination-item-height: 30px;
$pagination-item-margin: 5px;
$pagination-more-margin: 5px;
$pagination-more-width: 30px;
$pagination-more-height: 30px;
$pagination-navigation-margin: 5px;
$pagination-navigation-width: 30px;
$pagination-navigation-height: 30px;

//Spacing
$spacer-sizes: (
	"40px": 40px,
	"70px": 70px,
	"7px": 7px,
);

//Fonts
$font-sizes: ();
//data table
$data-table-regular-row-font-size: $font-size-root;
// $data-table-regular-header-height: 80px;
$data-table-regular-row-height: 50px;
//Text field
$text-field-filled-full-width-outlined-single-line-slot-min-height: 36px;
$text-field-filled-full-width-outlined-dense-slot-min-height: 50px;
$select-chips-dense-selections-min-height: 36px;
$text-field-details-margin-bottom: 0px;
$text-field-enclosed-details-padding: 0 6px;
$textarea-enclosed-text-slot-margin: -8px;
$textarea-enclosed-text-slot-padding: 8px;
$text-field-details-min-height: 12px;
$input-dense-slot-margin-bottom: 2px;
//label
$label-font-size: 1rem;
//calendar
$calendar-daily-interval-gutter-font-size: $font-size-root;
$calendar-daily-interval-gutter-top: -10px;
//
$spacer-default: 20px;

$treeview-node-level-width: 24px;
$slide-group-prev-basis: 30px;
//breadcrumbs
$breadcrumbs-item-font-size: 12px;
$breadcrumbs-even-child-padding: 0 6px;

//tabs
$tabs-item-letter-spacing: normal;

//snackbar
$snackbar-font-size: 12px;
$snackbar-content-padding: 1px 8px;
$snackbar-content-min-height: 30px;

//v-message
$messages-line-height: 1;
$messages-min-height: 12px;
$counter-line-height: 1;

//grid
$grid-gutter: 20px;
$spacer: 3px;

//dialog
$dialog-max-height: 98%;