.cinestar__login{
    @apply text-center;
}
#login-layout{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
img{
    margin: 0;
}

#email-error,
#confirmpassword-error,
#password-error,
#username-error{
    padding-left: 38px;
    font-size: 14px;
    color: #b94a48;
}
#agree-error{
    position: absolute;
    padding-left: 10px;
    font-size: 14px;
    color: #b94a48;
    bottom: 20px;
}